.App {
  text-align: center;
  background-color: "#7C90DB";
}


img {
  border-radius: 50px;
  padding: 22px;
  
}

.about {
  font-size: 48px;
}

.contact {
  font-size: 48px;
}

.gallery {
  font-size: 48px;
}

